<%- include('../../partials/header.ejs') %>
  <!-- Content -->

  <div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="py-3 mb-0">
      <span class="text-muted fw-light">Ecommerce /</span><span class="fw-medium"> Thùng Rác</span>
    </h4>

    <div class="app-ecommerce">
      <!-- Add Product -->
      <div class="d-flex flex-column flex-md-row justify-content-between align-items-start align-items-md-center mb-3">
        <div class="d-flex flex-column justify-content-center">
          <h4 class="mb-1 mt-3">Thùng Rác</h4>
        </div>
        <div class="d-flex align-content-center flex-wrap gap-3">
          <a href="/admin/sub-category" class="btn btn-primary">Quay Lại</a>
        </div>
      </div>

      <div class="row">
        <!-- Ajax Sourced Server-side -->
        <div class="card">
          <h5 class="card-header">Bảng Danh Mục Phụ</h5>
          <div class="card-datatable text-nowrap">
            <table class="datatables-ajax table">
              <thead>
                <tr>
                  <th>STT</th>
                  <th>ID</th>
                  <th>Tên Danh Mục</th>
                  <th>Tên Danh Mục Phụ</th>
                  <th>Ngày Xóa</th>
                  <th>Hành Động</th>
                </tr>
              </thead>
              <tbody>
                <% if(SubCategories.length> 0) { %> <% SubCategories.forEach((subCategory,index)=> { %>
                    <!-- get name category -->
                    <tr>
                      <td>
                        <%= index + 1 %>
                      </td>
                      <td>
                        <%= subCategory.id %>
                      </td>
                      <td>
                        <%= subCategory.category_id.name %>
                      </td>
                      <td>
                        <%= subCategory.name %>
                      </td>
                      <td>
                        <%= subCategory.deletedAt.toLocaleString() %>
                      </td>
                      <td class="d-flex">
                        <!-- EDIT BUTTON -->
                        <a href="/admin/sub-category/restore/<%= subCategory.id%>"
                          class="btn btn-warning waves-effect waves-light"><i
                            class="fa-solid fa-rotate-left fa-fw"></i></a>
                        <!-- DELETE BUTTON -->
                        <form action="/admin/sub-category/deletePermanently/<%= subCategory.id%>?_method=DELETE"
                          method="post" class="delete-item-form mx-3">
                          <button class="btn btn-danger waves-effect waves-light delete-item"><i
                              class="fa-solid fa-infinity"></i></button>
                        </form>
                      </td>
                    </tr>
                    <% })%>
                      <% } else { %>
                        <tr>
                          <td colspan="20" class="text-center">Không có dữ liệu</td>
                        </tr>
                        <% } %>
              </tbody>
            </table>
          </div>
        </div>
        <!--/ Ajax Sourced Server-side -->
      </div>
    </div>
  </div>
  <!-- / Content -->
  <!-- DATATABLES SETTING -->
  <script>
    $(document).ready(function () {
      // ? Toaster Notification
      let success = '<%= success %>';
      if (success != '') {
        toastr.success(success, 'Thành Công');
      }
      let table = $('.datatables-ajax').DataTable({
        processing: true,
        responsive: true,
      });

      // ? Change Status
      $('.change-status').on('change', function () {
        let id = $(this).data('id');
        if (status != null) {
          $.ajax({
            type: "PATCH",
            dataType: "json",
            url: '/admin/sub-category/change-status/:id?_method=PATCH'.replace(':id', id),
            success: function (data) {
              if (data.status == 'success') {
                toastr.success(data.message, 'Thành Công');
              } else {
                toastr.error(data.message, 'Lỗi');
              }
            }
          });
        }
      })
    });
  </script>
  <%- include('../../partials/footer.ejs') %>