<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gamikey - Tài khoản bản quyền giá rẻ</title>
    <link rel="icon" href="/client/images/cropped-Gamikey-logo-512-32x32.png" sizes="32x32">
    <link rel="icon" href="/client/images/cropped-Gamikey-logo-512-192x192.png" sizes="192x192">
    <link rel="apple-touch-icon" href="/client/images/cropped-Gamikey-logo-512-180x180.png">
    <%- include('../layouts/resources/css.ejs'); -%>

</head>

<body>
    <!-- Overlay -->
    <div class="overlay"></div>
    <!-- ************************* Hamburger Menu ************************* -->
    <div class="hamburger-menu">
        <div class="actionBtn">
            <div id="BtnClose">
                <i style="color: white;" class="fas fa-times"></i>
            </div>
        </div>
        <div class="hamburger-menu_items">
            <ul class="menu_items_mobile">
                <li class="menu_item_mobile">
                    <a href="">Trang Chủ</a>
                </li>
                <li class="menu_item_mobile">
                    <a href="">Danh Mục</a>
                </li>
                <li class="menu_item_mobile">
                    <a href="">Thương Hiệu</a>
                </li>
                <li class="menu_item_mobile">
                    <a href="">Tài Khoản</a>
                </li>
                <li class="menu_item_mobile">
                    <a href="">Key Active</a>
                </li>
                <li class="menu_item_mobile">
                    <a href="">Nâng Cấp</a>
                </li>
                <li class="menu_item_mobile">
                    <a href="">Giới Thiệu</a>
                </li>
                <li class="menu_item_mobile">
                    <a href="">Liên Hệ</a>
                </li>
            </ul>
        </div>
    </div>
    <!-- ************************* MINI CART ************************* -->

    <div class="mini_cart">
        <h4>Giỏ Hàng <span class="close_mini_cart"><i class="far fa-times"></i></span></h4>
        <ul class="mini_cart_wrapper">
        </ul>
        <div class="mini_cart_actions">
            <h5>Tạm Tính: <span class="mini_cart_subtotal">490,000 VNĐ</span></h5>
            <div class="mini_cart_action_area d-flex justify-content-between align-items-center">
                <a href="/cart" class="common_btn">Xem Giỏ Hàng</a>
                <a href="" class="common_btn">Thanh Toán</a>
            </div>
        </div>
    </div>

    <!-- ************************* Header ************************* -->
    <header id="header">
        <div class="header-wrapper">
            <!-- ************************* Header TOP ************************* -->
            <div class="container d-flex inner_header">
                <!-- ************************* Header LOGO ************************* -->
                <div class="col-3">
                    <a href="/">
                        <img style="width: 150px; height: 100%; max-height: 84px;" loading="lazy"
                            src="/client/images/Logo-Gamikey-1024x576.png.webp" alt="Logo Header">
                    </a>
                </div>
                <!-- ************************* Header SEARCH FORM ************************* -->
                <div class="nav_header_search col-6 d-flex align-items-center pe-5">
                    <div class="header_search">
                        <form action="/productSearch" method="get">
                            <div class="header_search_form">
                                <input id="searchproduct" type="text" placeholder="Tìm kiếm sản phẩm..." name="search">
                                <button type="submit" value="Tìm Kiếm"><i class="fas fa-search"></i></button>
                            </div>
                        </form>
                        <!-- ************************* Header SEARCH ITEMS ************************* -->
                        <div class="header_search_items overflow-y-scroll">
                            <div class="header_search_item">
                                <a href="">
                                    <div class="col-2">
                                        <img class="header_search_item_img"
                                            src="client/images/Canva-Education-510x510.png.webp" alt="">
                                    </div>
                                    <div class="col-8">
                                        <h4 class="header_search_item_name">Tài Khoản Canva Education Vĩnh Viễn</h4>

                                    </div>
                                    <div class="col-2">
                                        <h5 class="header_search_item_price">99.000 đ</h5>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- ************************* Header BUTTON ACTIONS ************************* -->
                <div class="col-3 header_nav_actions d-flex align-items-center">
                    <div class="col-12 header-nav-actions_items d-flex align-items-center">
                        <div class="col-6 header_btn_actions mx-2">
                            <!-- HEADER USER LOGIN -->
                            <% if(userInfo !=null && userInfo !='' ) {%>
                                <div class="header_btn_actions_items">
                                    <div class="header_action_king">
                                        <button
                                            class="d-flex justify-content-center align-items-center header_actionBtn_king"
                                            type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            <li class="me-3 header_action_king_icon"><i class="fas fa-user"></i></li>
                                            <li class="header_action_king_text"><span>Tài Khoản</span></li>
                                        </button>
                                        <li class="dropdown-menu">
                                            <ul class="header_action_queen_items">
                                                <div class="header_action_queen_item">
                                                    <li>Xin Chào: <%=userInfo.name !=null ? userInfo.name :
                                                            userInfo.email%>
                                                    </li>
                                                    <li><a href="/userProfile">Tài Khoản</a></li>
                                                    <li><a href="/billUserProfile">Đơn Hàng</a></li>
                                                    <form method="get" action="/logout" id="logoutForm">
                                                        <li><a href="/logout" id="logoutBTN">Đăng Xuất</a></li>
                                                    </form>
                                                </div>
                                            </ul>
                                        </li>
                                    </div>
                                </div>
                                <% } else { %>
                                    <!-- GUEST  -->
                                    <a class="header_btn_actions_items" href="/login">
                                        <ul class="header_action_king">
                                            <button
                                                class="d-flex justify-content-center align-items-center header_actionBtn_king loginBtn">
                                                <li class="me-3 header_action_king_icon"><i class="fas fa-user"></i>
                                                </li>
                                                <li class="header_action_king_text"><span>Đăng Nhập</span></li>
                                            </button>
                                        </ul>
                                    </a>
                                    <% } %>
                        </div>
                        <div class="col-6 header_btn_actions mx-2">
                            <div id="view_mini_cart" class="header_btn_actions_items">
                                <ul class="header_action_king">
                                    <li class="me-3 header_action_king_icon"><i class="fas fa-shopping-basket"></i></li>
                                    <li class="header_action_king_text"><span>Giỏ Hàng</span></li>
                                    <!-- <li class="header_qty_cart">1</li> -->
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ************************* Header BOTTOM ************************* -->
            <div class="container d-flex bottom_header">
                <div class="header-bottom-nav">
                    <ul class="header_vertical_menu_items d-flex align-items-center">
                        <li class="header_vertical_menu_item">
                            <div class="header_vertical_menu_dropdown dropdown">
                                <button class="btn btn-secondary dropdown-toggle header_vertical_menu_button"
                                    type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="fas fa-bars"></i>
                                    <p>Danh Mục</p>
                                </button>
                                <ul class="dropdown-menu">
                                    <div class="col-12 d-flex p-4">
                                        <div class="col-5 header-menu-categories">
                                            <div class="col-12 menu-title">
                                                <div class="col-12">
                                                    <h2>Danh Mục</h2>
                                                </div>
                                            </div>
                                            <div class="menu-list">
                                                <div class="col-12 flex-wrap d-flex">
                                                    <% getCategories.forEach((category)=> { %>
                                                        <div class="col-6">
                                                            <a href="/category/<%=category.slug%>">
                                                                <%=category.name%>
                                                            </a>
                                                        </div>
                                                        <% }) %>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="line-separation my-3"></div>
                                            </div>
                                            <div class="col-12 menu-type d-flex flex-wrap">
                                                <div class="col-lg-3 col-4 my-lg-0 my-3"><a href=""
                                                        class="btn btn-outline-orange">Nâng
                                                        Cấp</a></div>
                                                <div class="col-lg-3 col-4 m-3 m-lg-0 mx-lg-3"><a href=""
                                                        class="btn btn-outline-orange">Tài
                                                        Khoản</a></div>
                                                <div class="col-lg-3 col-4"><a href=""
                                                        class="btn btn-outline-orange">Key Active
                                                    </a></div>
                                            </div>
                                        </div>
                                        <div class="col-4 px-3 header-menu-brand">
                                            <div class="col-12 menu-title">
                                                <div class="col-12">
                                                    <h2>Thương Hiệu</h2>
                                                </div>
                                            </div>
                                            <div class="menu-list">
                                                <div class="row">
                                                    <% getBrands.forEach((brand)=> { %>
                                                        <div class="col-6">
                                                            <a href="/brand/<%=brand.slug%>"><img loading="lazy"
                                                                    src="<%=brand.image%>" alt="">
                                                                <%=brand.name%>
                                                            </a>
                                                        </div>
                                                        <% }) %>

                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-3 px-3 header-menu-best-search">
                                            <div class="col-12 menu-title">
                                                <div class="col-12">
                                                    <h2>Tìm Kiếm Nhiều Nhất</h2>
                                                </div>
                                            </div>
                                            <div class="menu-list">
                                                <% for(let i=0; i <=8; i++) { %>

                                                    <div class="col-12">
                                                        <a href="/product/<%=getBestProductPurchased[i].slug%>"><img
                                                                src="<%=getBestProductPurchased[i].image%>" alt="">
                                                            <span limitText="40">
                                                                <%=getBestProductPurchased[i].name%>
                                                            </span> </a>
                                                    </div>
                                                    <% } %>
                                            </div>
                                            <div class="more-list mt-3">
                                                <a href="" class="more-list-anchor">Xem Tất Cả <i
                                                        class="fas fa-angle-right"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </ul>
                            </div>
                        </li>

                        <% getBrands.forEach((brand)=> { %>
                            <li
                                class="header_vertical_menu_item header_vertical_menu_item_brand mx-4 <%= brand.slug==slug ? 'active' : '' %>">
                                <a href="/brand/<%=brand.slug%>">
                                    <img loading="lazy" src="<%=brand.image%>" alt="<%=brand.slug%>">
                                    <h5 class="header_vertical_menu_brand_title">
                                        <%=brand.name%>
                                    </h5>
                                </a>
                            </li>
                            <% }) %>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <!-- ************************* Header MOBILE ************************* -->
    <header-mobile id="header-mobile">
        <div class="header-wrapper">
            <div class="d-flex inner_header_mobile py-4">
                <div class="col-2 sidebar_mobile d-flex justify-content-center align-items-center">
                    <div class="sidebar_action">
                        <div class="sidebar_action_button" id="sidebar_action_button">
                            <i class="fas fa-bars"></i>
                        </div>
                    </div>
                </div>
                <!-- ************************* Header SEARCH FORM ************************* -->
                <div class="nav_header_search col-8 d-flex align-items-center pe-3">
                    <div class="header_search">
                        <form action="" method="get">
                            <div class="header_search_form">
                                <input id="searchproduct" type="text" placeholder="Tìm kiếm sản phẩm...">
                                <button type="submit" value="Tìm Kiếm"><i class="fas fa-search"></i></button>
                            </div>
                        </form>
                        <!-- ************************* Header SEARCH ITEMS ************************* -->
                        <div class="header_search_items overflow-y-scroll">
                        </div>
                    </div>
                </div>
                <div class="col-2 logo_mobile">
                    <a href="/">
                        <img style="width: 100%; height: 100%; max-height: 84px;" loading="lazy"
                            src="/client/images/Logo-Gamikey-1024x576.png.webp" alt="Logo Header">
                    </a>
                </div>
            </div>
        </div>
    </header-mobile>