<%- include('../../partials/header.ejs') %>
    <!-- Content -->

    <div class="container-xxl flex-grow-1 container-p-y">
        <h4 class="py-3 mb-0">
            <span class="text-muted fw-light">Ecommerce /</span><span class="fw-medium"> Khách Hàng</span>
        </h4>
        <% let listErrors=[] %>
            <% listErrors=errors.map(error=> error.msg) %>
                <div class="app-ecommerce">
                    <!-- Add Product -->
                    <div
                        class="d-flex flex-column flex-md-row justify-content-between align-items-start align-items-md-center mb-3">
                        <div class="d-flex flex-column justify-content-center">
                            <h4 class="mb-1 mt-3">Thêm Khách Hàng</h4>
                        </div>
                        <div class="d-flex align-content-center flex-wrap gap-3">
                            <a href="/admin/user" class="btn btn-danger waves-effect waves-light"><i
                                    class="fa-solid fa-left-from-line"></i> &ensp; Trở Về</a>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <!-- Product Information -->
                            <div class="card mb-4">
                                <form action="/admin/user/update/<%=user.id%>?_method=PATCH" method="POST">
                                    <div class="card-header">
                                        <h5 class="card-tile mb-0">Chỉnh Sửa Khách Hàng: <%= user.name %>
                                        </h5>
                                    </div>
                                    <div class="card-body">
                                        <div class="mb-3">
                                            <label class="form-label" for="name">Tên</label>
                                            <input type="text" class="form-control" id="name"
                                                placeholder="Tên Khách Hàng" name="name" aria-label="Tên Khách Hàng"
                                                value="<%=user.name%>" />
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label" for="email">Email</label>
                                            <input type="text" class="form-control" id="email"
                                                placeholder="Tên Khách Hàng" name="email" aria-label="Email"
                                                value="<%=user.email%>" />
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label" for="phone">Số Điện Thoại</label>
                                            <input type="text" class="form-control" id="phone"
                                                placeholder="Số Điện Thoại" name="phone" aria-label="Số Điện Thoại"
                                                value="<%=user.phone%>" />
                                        </div>
                                        <div class="row mb-3">
                                            <h3 class="my-3" for="formFile">Ảnh</h3>
                                            <div class="row">
                                                <div class="col-6">
                                                    <input class="form-control" type="file" id="formFile"
                                                        name="image" />
                                                </div>
                                                <div class="col-6 d-flex justify-content-center">
                                                    <img class="image-show img-fluid" src="<%=user.avatar%>" alt=""
                                                        style="border-radius: 16px" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label" for="role">Vai Trò</label>
                                            <select class="form-select" id="role" name="role" aria-label="Vai Trò">
                                                <option value="admin" <% if(user.role=='admin' ) { %> selected <% } %>
                                                        >Admin
                                                </option>
                                                <option value="user" <% if(user.role=='user' ) { %> selected <% } %>
                                                        >User
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <div class="row">
                                            <div class="col-12 d-flex justify-content-end ">
                                                <a href="/admin/user"
                                                    class="btn btn-danger waves-effect waves-light mx-3"><i
                                                        class="fa-solid fa-xmark"></i> &ensp; Hủy</a>
                                                <button type="submit"
                                                    class="btn btn-primary waves-effect waves-light"><i
                                                        class="fa-solid fa-floppy-disk"></i>&ensp;
                                                    Cập Nhật</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <!-- Product Information -->
                            <div class="card mb-4">
                                <form action="/admin/user/update-password/<%=user.id%>?_method=PATCH" method="POST">
                                    <div class="card-header">
                                        <h5 class="card-tile mb-0">Chỉnh Sửa Mật Khẩu Khách Hàng: <%= user.name %>
                                        </h5>
                                    </div>
                                    <div class="card-body">
                                        <div class="mb-3">
                                            <label class="form-label" for="name">Mật Khẩu Mới</label>
                                            <input type="password" class="form-control" id="name"
                                                placeholder="Mật Khẩu Mới" name="password" aria-label="Mật Khẩu Mới" />
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label" for="email">Nhập Lại Mật Khẩu Mới</label>
                                            <input type="password" class="form-control" id="email"
                                                placeholder="Nhập Lại Mật Khẩu Mới" name="password_confirmation"
                                                aria-label="Nhập Lại Mật Khẩu Mới" />
                                        </div>

                                    </div>
                                    <div class="card-footer">
                                        <div class="row">
                                            <div class="col-12 d-flex justify-content-end ">
                                                <a href="/admin/user"
                                                    class="btn btn-danger waves-effect waves-light mx-3"><i
                                                        class="fa-solid fa-xmark"></i> &ensp; Hủy</a>
                                                <button type="submit"
                                                    class="btn btn-primary waves-effect waves-light"><i
                                                        class="fa-solid fa-floppy-disk"></i>&ensp;
                                                    Cập Nhật</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
    </div>
    <!-- / Content -->
    <script src="/admin/js/app-ecommerce-product-add.js"></script>
    <script>
        $(document).ready(function () {
            let errors = "<%= listErrors %>"
            if (errors != "") {
                errors = errors.split(',');
                errors.forEach(error => {
                    toastr.error(error);
                });
            }
        })
    </script>
    <%- include('../../partials/footer.ejs') %>