<%- include('../../partials/header'); -%>

    <!-- ************************* Main ************************* -->
    <main>
        <div class="container profile_user my-5">
            <div class="user-items">
                <div class="user-left">
                    <div class="user_left__items">
                        <div class="user_left__item active">
                            <a href="/userProfile">
                                <div>
                                    <i class="fas fa-user"></i>
                                </div>
                                <p>Tài khoản</p>
                            </a>
                        </div>
                        <div class="user_left__item">
                            <a href="/billUserProfile">
                                <div>
                                    <i class="fas fa-shopping-cart"></i>
                                </div>
                                <p>Lịch sử đơn hàng</p>
                            </a>
                        </div>
                        <div class="user_left__item">
                            <a href="/passwordProfile">
                                <div>
                                    <i class="fas fa-user-lock"></i>
                                </div>
                                <p>Mật khẩu và bảo mật</p>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="user-right">
                    <div class="user-right__items">
                        <h1>Tổng quan</h1>
                        <div class="user-right-infoProfile">
                            <div class="user-right-infoProfile-item">
                                <h4>Email</h4>
                                <p id="gmail_user">
                                    <%= user.email %>
                                </p>
                            </div>
                            <div class="user-right-infoProfile-item">
                                <h4>Họ và tên</h4>
                                <p id="name_user">
                                    <%= user.name %>
                                </p>
                            </div>

                            <div class="user-right-infoProfile-item">
                                <h4>Ngày tham gia</h4>
                                <!-- FORMAT VIETNAMESE TIMEZONE -->
                                <p id="datejoin_user">
                                    <%= user.createdAt.toLocaleString('vi-VN', { timeZone: 'Asia/Ho_Chi_Minh' }) %>
                                </p>
                            </div>
                        </div>
                        <div class="user-right-avatar">
                            <div class="user-right-avatar-items">
                                <img loading="lazy" src="<%=user.avatar%>" alt="Ảnh đại diện" />
                                <div class="user-right-avatar-item">
                                    <form action="/userProfile/updateImage?_method=PATCH" method="post"
                                        id="changeImage">
                                        <input type="file" name="image" id="image" />
                                    </form>
                                    <div class="lineY"></div>
                                    <div>
                                        <p>
                                            Vui lòng chọn ảnh nhỏ hơn 5MB <br />
                                            <br />
                                            Chọn hình ảnh phù hợp, không phản
                                            cảm
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="changed-profile-user">
                        <form action="/userProfile/updateUser?_method=PATCH" method="post">
                            <h3>Cá Nhân</h3>
                            <div class="input-container">
                                <input type="text" id="userName" name="name" class="text-input" placeholder="Họ và tên"
                                    value="<%= user.name %>" />
                                <label for="userName" class="label">Họ và Tên</label>
                            </div>

                            <div class="input-container">
                                <input type="tel" id="userPhone" name="email" class="text-input"
                                    placeholder="Số điện thoại" value="<%= user.email %>" />
                                <label for="userPhone" class="label">Email</label>
                            </div>
                            <div class="input-container">
                                <input type="tel" id="userPhone" name="phone" class="text-input"
                                    placeholder="Số điện thoại" value="<%= user.phone %>" />
                                <label for="userPhone" class="label">Số điện thoại</label>
                            </div>
                            <button id="changedUserProdile" class="btnUser">
                                Lưu thay đổi
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <%- include('../../partials/footer'); -%>
        <script>
            let success = '<%= success %>';
            if (success) {
                toastr.success(success);
            }
            $(document).ready(function () {
                $('#image').change(function () {
                    const url = '/userProfile/updateImage?_method=PATCH';
                    $.ajax({
                        url: url,
                        type: 'POST',
                        data: new FormData($('#changeImage')[0]),
                        processData: false,
                        contentType: false,
                        success: function (data) {
                            if (data.status == 'success') {
                                toastr.success(data.success);
                                setTimeout(() => {
                                    location.reload();
                                }, 1000);
                            } else {
                                toastr.error(data.error);
                            }
                        }
                    })

                })
            })
        </script>