<!-- INCLUDE HEADER -->
<%- include('../../partials/header'); -%>

<!-- Main content -->
<!-- ************************* Main ************************* -->
<main class="pt-5">
  <section class="container">
    <!-- ************************* BANNER ************************* -->
    <%- include('./sections/topBanner'); -%>

    <!-- ************************* HOT PRODUCT ************************* -->
    <%- include('./sections/hotProduct'); -%>

    <!-- ************************* CONTENT ************************* -->
    <%- include('./sections/content'); -%>

    <!-- ************************* NEW PRODUCT ************************* -->
    <%- include('./sections/newProduct'); -%>

    <!-- ************************* STATISTICS ************************* -->
    <%- include('./sections/statistics'); -%>
  </section>
</main>

<%- include('../../partials/footer'); -%>
