<%- include('../../partials/header.ejs') %>
    <!-- Content -->

    <div class="container-xxl flex-grow-1 container-p-y">
        <h4 class="py-3 mb-0">
            <span class="text-muted fw-light">Ecommerce /</span><span class="fw-medium"> Sản Phẩm</span>
        </h4>
        <% let listErrors=[] %>
            <% listErrors=errors.map(error=> error.msg) %>
                <div class="app-ecommerce">
                    <!-- Add Product -->
                    <div
                        class="d-flex flex-column flex-md-row justify-content-between align-items-start align-items-md-center mb-3">
                        <div class="d-flex flex-column justify-content-center">
                            <h4 class="mb-1 mt-3">Sửa Sản Phẩm: <%=product.name%>
                            </h4>
                        </div>
                        <div class="d-flex align-content-center flex-wrap gap-3">
                            <a href="/admin/product" class="btn btn-danger waves-effect waves-light"><i
                                    class="fa-solid fa-left-from-line"></i> &ensp; Trở Về</a>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <!-- Product Information -->
                            <div class="card mb-4">
                                <form action="/admin/product/update/<%=product.id%>?_method=PATCH" method="POST"
                                    enctype="multipart/form-data">
                                    <div class="card-header">
                                        <h5 class="card-tile mb-0">Thông Tin Sản Phẩm</h5>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <!-- NAME -->
                                            <div class="mb-3 col-6">
                                                <label class="form-label" for="name">Tên</label>
                                                <input type="text" class="form-control" id="name"
                                                    placeholder="Tên Sản Phẩm" name="name" aria-label="Tên Sản Phẩm"
                                                    value="<%=product.name%>" />
                                            </div>
                                            <!-- NAME -->
                                            <div class="mb-3 col-6">
                                                <label class="form-label" for="position">Vị Trí</label>
                                                <input type="number" class="form-control" id="position"
                                                    placeholder="Vị Trí" name="position" aria-label="Vị Trí"
                                                    value="<%=product.position%>" />
                                                <code>Để Trống sẽ xuất hiện đầu tiên</code>
                                            </div>
                                        </div>
                                        <!-- PRICE -->
                                        <div class="row">
                                            <div class="col-6">
                                                <div class="mb-3">
                                                    <label class="form-label" for="price">Giá</label>
                                                    <input type="number" class="form-control" id="price"
                                                        placeholder="Giá Sản Phẩm" name="price"
                                                        aria-label="Giá Sản Phẩm" value="<%=product.price%>" />
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="mb-3">
                                                    <label class="form-label" for="discount_price">Giá Khuyến
                                                        Mãi</label>
                                                    <input type="number" class="form-control" id="discount_price"
                                                        placeholder="Giá Sản Phẩm" name="discount_price"
                                                        aria-label="Giá Khuyến Mãi Sản Phẩm"
                                                        value="<%=product.discount_price%>" />
                                                    <code>Nếu không có khuyến mãi để trống</code>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- DATE -->
                                        <div class="row mb-3">
                                            <label for="dateRangePicker" class="form-label">Ngày Khuyến Mãi</label>
                                            <div class="input-group input-daterange" id="bs-datepicker-daterange">
                                                <input type="text" class="form-control" placeholder="MM/DD/YYYY"
                                                    name="start_discount" value="<%=product.start_discount%>" />
                                                <span class="input-group-text">Tới</span>
                                                <input type="text" class="form-control" placeholder="MM/DD/YYYY"
                                                    name="end_discount" value="<%=product.end_discount%>" />
                                            </div>
                                            <code>Nếu không có khuyến mãi để trống</code>
                                        </div>
                                        <!-- KIND OF PRODUCT -->
                                        <div class="row my-3 kind-product">
                                            <!-- CATEGORY -->
                                            <div class="col-6 mb-3">
                                                <label class="form-label" for="category">Danh Mục</label>
                                                <select id="category" class="select2 form-select form-select-lg"
                                                    name="category_id">
                                                    <option value="">---Chọn---</option>
                                                    <% categories.forEach(category=> { %>
                                                        <option value="<%= category.id %>"
                                                            <%=category.id==product.category_id ? 'selected' : '' %>>
                                                            <%= category.name %>
                                                        </option>
                                                        <% }) %>
                                                </select>
                                            </div>
                                            <!-- SUB CATEGORY -->
                                            <div class="col-6 mb-3">
                                                <label class="form-label" for="sub_category_id">Danh Mục Phụ</label>
                                                <select id="sub_category_id" class="select2 form-select form-select-lg"
                                                    name="sub_category_id">
                                                    <option value="">---Chọn---</option>
                                                </select>
                                            </div>
                                            <!-- BRAND -->
                                            <div class="col-6 mb-3">
                                                <label class="form-label" for="brand">Thương Hiệu</label>
                                                <select id="brand" class="select2 form-select form-select-lg"
                                                    name="brand_id">
                                                    <option value="">---Chọn---</option>
                                                    <% brands.forEach(brand=> { %>
                                                        <option value="<%= brand.id %>" <%=brand.id==product.brand_id
                                                            ? 'selected' : '' %>>
                                                            <%= brand.name %>
                                                        </option>
                                                        <% }) %>
                                                </select>
                                            </div>
                                            <!-- TYPE -->
                                            <div class="col-6 mb-3">
                                                <label class="form-label" for="type">Loại Sản Phẩm</label>
                                                <select id="type" class="select2 form-select form-select-lg"
                                                    name="type">
                                                    <option value="">---Chọn---</option>
                                                    <option value="Tài
                                                        Khoản" <%=product.type=='Tài Khoản' ? 'selected' : '' %> >Tài
                                                        Khoản</option>
                                                    <option value="Key" <%=product.type=='Key' ? 'selected' : '' %> >Key
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                        <!-- SHORT DESCRIPTION -->
                                        <div class="row mb-3">
                                            <h3 class="my-3" for="short_description">Mô Tả Ngắn</h3>
                                            <input type="text" id="short_description" class="form-control tinyMCE"
                                                name="short_description" value="<%=product.short_description%>" />
                                        </div>
                                        <!-- LONG DESCRIPTION -->
                                        <div class="row">
                                            <h3 class="my-3" for="description">Mô Tả</h3>
                                            <input type="text" id="description" class="form-control tinyMCE"
                                                name="description" value="<%=product.description%>" />
                                        </div>

                                        <div class="row mb-3">
                                            <h3 class="my-3" for="formFile">Ảnh</h3>
                                            <div class="row">
                                                <div class="col-6">
                                                    <input class="form-control" type="file" id="formFile"
                                                        name="image" />
                                                </div>
                                                <div class="col-6 d-flex justify-content-center">
                                                    <img class="image-show img-fluid" src="<%=product.image%>" alt=""
                                                        style="border-radius: 16px" />
                                                </div>
                                            </div>
                                        </div>
                                        <!-- STATUS -->
                                        <div class="row mb-3">
                                            <h3 class="my-3" for="description">Trạng Thái</h3>
                                            <select id="status" name="status" class="form-select">
                                                <option value="">---Chọn---</option>
                                                <option <%=product.status==0 ? 'selected' : '' %> value="0">Ẩn</option>
                                                <option <%=product.status==1 ? 'selected' : '' %> value="1">Hiện
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <div class="row">
                                            <div class="col-12 d-flex justify-content-end">
                                                <a href="/admin/product"
                                                    class="btn btn-danger waves-effect waves-light mx-3"><i
                                                        class="fa-solid fa-xmark"></i> &ensp; Hủy</a>
                                                <button type="submit" class="btn btn-primary waves-effect waves-light">
                                                    <i class="fa-solid fa-floppy-disk"></i>&ensp; Cập Nhật
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
    </div>
    <!-- / Content -->
    <script type="application/javascript" src="/tinymce/tinymce.min.js"></script>
    <!-- Script element sourcing the TinyMCE configuration -->
    <script type="application/javascript" src="/admin/js/tinymce-config.js"></script>
    <script>
        $(document).ready(function () {
            let errors = '<%= listErrors %>';
            if (errors != '') {
                errors = errors.split(',');
                errors.forEach((error) => {
                    toastr.error(error);
                });
            }
            $('.input-daterange input').each(function () {
                $(this).datepicker('clearDates');
            });
            $('.kind-product .select2').each(function () {
                $(this).select2();
            });
            $('#formFile').change(function () {
                let file = $(this)[0].files[0];
                let reader = new FileReader();
                reader.onload = function (e) {
                    $('.image-show').attr('src', e.target.result);
                };
                reader.readAsDataURL(file);
            });

            $('body').on('change', '#category', function () {
                let category_id = $(this).val();
                $.ajax({
                    url: '/admin/product/getSubCategoyByIdCategory/:id'.replace(
                        ':id',
                        category_id,
                    ),
                    type: 'GET',
                    data: {
                        category_id: category_id,
                    },

                    success: function (data) {
                        let sub_category = data;
                        let html = ' ';
                        html += '<option value="">---Chọn---</option>';
                        sub_category.forEach((sub) => {
                            html += `<option value="${sub._id}">${sub.name}</option>`;
                        });
                        $('#sub_category_id').html(html);
                    },
                    error: function (error) {
                        console.log(error);
                    },
                });
            });
        });
    </script>
    <%- include('../../partials/footer.ejs') %>