<%- include('../../partials/header'); -%>
    <!-- ************************* Main ************************* -->
    <main class="pt-5">
        <section class="container">
            <div class="cart_container">
                <div class="cart_container_section col-12 d-lg-flex">
                    <div class="col-lg-8 col-12 cart_container_left p-4 border rounded me-4 shadow-lg">
                        <h2>Giỏ Hàng - <%=carts.length%> sản phẩm <span style="float: right; margin-right: 15px;">
                                    <% if(carts.length>0){%> <a id="removeAllCart" href="/removeAllCart"
                                            title="Xóa Giỏ Hàng">Xóa Tất Cả
                                        </a>
                                        <% } %>
                                </span></h2>
                        <div class="cart_container_items pt-sm-0 pt-1">
                            <% if (carts.length> 0) { %>
                                <% carts.forEach(cart=> { %>
                                    <div data-id="<%=cart.id%>"
                                        class="cart_container_item shadow d-sm-flex align-items-center border rounded p-3 mt-4">
                                        <div class="col-sm-2 col-12 cart_product_img">
                                            <img class="cart_container_item_img" src="<%=cart.image%>" alt="">
                                        </div>
                                        <div class="col-sm-5 col-12 my-sm-0 my-3 cart_product_text">
                                            <a href="/product/<%=cart.slug%>" class="cart_container_item_name">
                                                <%=cart.name%>
                                            </a>
                                            <br>

                                            <p class="cart_container_item_price product_price">
                                                <%=cart.price%>
                                            </p>
                                        </div>
                                        <div class="col-sm-4 col-12 cart_product_qty d-flex justify-content-center">
                                            <button data-id="<%=cart.id%>" class="decreQty"><i
                                                    class="far fa-minus fa-fw" title="Giảm Số Lượng"></i></button>
                                            <input type="phone" class="cart_container_item_qty"
                                                value="<%=cart.quantity%>" min="1" max="10" readonly="readonly">
                                            <button data-id="<%=cart.id%>" class="increQty"><i class="far fa-plus fa-fw"
                                                    title="Tăng Số Lượng"></i></button>
                                        </div>
                                        <div
                                            class="col-sm-1 col-12 cart_product_action d-sm-block d-flex justify-content-end">
                                            <button data-id="<%=cart.id%>" class="cart_container_item_remove"
                                                title="Xóa Sản Phẩm Này"><i class="fas fa-trash-alt"></i></button>
                                        </div>
                                    </div>
                                    <% }) %>
                                        <% } else { %>
                                            <div
                                                class="cart_container_item shadow d-sm-flex align-items-center border rounded p-3 mt-4">
                                                <div class="col-12 text-center">
                                                    <h4>Không có sản phẩm nào trong giỏ hàng</h4>
                                                </div>
                                            </div>
                                            <% } %>
                        </div>
                    </div>
                    <div class="col-lg-4 col-12 cart_container_right mt-sm-0 mt-4">
                        <div class="cart_container_right_section border rounded p-4 shadow-lg">
                            <% if(carts.length> 0) {%>
                                <div class="amout_product_cart">
                                    <h2>Thanh Toán</h2>
                                    <form class="coupon_cart d-flex my-3" action="" method="get">
                                        <input id="inputCoupon" class="form-control" type="text"
                                            placeholder="Nhập Mã Giảm Giá" value="<%=code.code%>">
                                        <button type="submit" id="applyCoupon">Áp Dụng</button>
                                    </form>
                                    <h4>Giá trị sản phẩm: <span class="sub_total"></span></h4>
                                    <h4>Giảm Giá: <span class="discount_amount">0 đ</span></h4>
                                    <h4>Tổng Tiền: <span class="final_amount">0 đ</span></h4>
                                    <div class="line-separation"></div>
                                    <br>
                                    <!-- <a href="login.html" class="my-1">Hãy Đăng Nhập Để Nhận Nhiều Ưu Đãi Hơn</a> -->
                                    <div class="payment_method">
                                        <div class="payment_method_list">
                                            <div class="action_payment_method d-flex justify-content-between">
                                                <a href="/" class="btn"><i class="fas fa-home-lg fa-fw"></i>&nbsp;
                                                    &nbsp; Mua Tiếp</a>
                                                <a href="/checkout" class="btn">Thanh Toán &nbsp; &nbsp; <i
                                                        class="fas fa-fast-forward"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <% }else { %>
                                    <div class="amout_product_cart">
                                        <h2>Thanh Toán</h2>
                                        <div class="payment_method">
                                            <div class="payment_method_list">
                                                <div class="action_payment_method d-flex justify-content-between">
                                                    <a href="/" class="btn"><i class="fas fa-home-lg fa-fw"></i>&nbsp;
                                                        &nbsp; Mua Sắm Ngay</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <% } %>
                        </div>

                    </div>
        </section>
    </main>

    <%- include('../../partials/footer'); -%>
        <script>
            let success = '<%= success %>';
            if (success != '') {
                toastr.success(success, 'Thành Công');
            }
            let errors = '<%= errors %>';
            if (errors != '') {
                toastr.error(errors, 'Lỗi');
            }

        </script>