<%- include('../../partials/header.ejs') %>
    <!-- Content -->

    <div class="container-xxl flex-grow-1 container-p-y">
        <h4 class="py-3 mb-0">
            <span class="text-muted fw-light">Ecommerce /</span><span class="fw-medium"> Mã Giảm Giá</span>
        </h4>
        <% let listErrors=[] %>
            <% listErrors=errors.map(error=> error.msg) %>
                <div class="app-ecommerce">
                    <!-- Add Product -->
                    <div
                        class="d-flex flex-column flex-md-row justify-content-between align-items-start align-items-md-center mb-3">
                        <div class="d-flex flex-column justify-content-center">
                            <h4 class="mb-1 mt-3">Thêm Mã Giảm Giá</h4>
                        </div>
                        <div class="d-flex align-content-center flex-wrap gap-3">
                            <a href="/admin/coupon" class="btn btn-danger waves-effect waves-light"><i
                                    class="fa-solid fa-left-from-line"></i> &ensp; Trở Về</a>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <!-- Product Information -->
                            <div class="card mb-4">
                                <form action="/admin/coupon/update/<%=coupon.id%>?_method=PATCH" method="POST">
                                    <div class="card-header">
                                        <h5 class="card-tile mb-0">Thông Tin Mã Giảm Giá</h5>
                                    </div>
                                    <div class="card-body">
                                        <!-- NAME AND CODE -->
                                        <div class="row">
                                            <div class="mb-3 col-6">
                                                <label class="form-label" for="name">Tên</label>
                                                <input type="text" class="form-control" id="name"
                                                    placeholder="Tên Mã Giảm Giá" name="name"
                                                    aria-label="Tên Mã Giảm Giá" value="<%=coupon.name%>" />
                                            </div>
                                            <div class="mb-3 col-6">
                                                <label class="form-label" for="code">Mã Giảm Giá</label>
                                                <input type="text" class="form-control" id="code"
                                                    placeholder="Mã Giảm Giá (VD:MAGIAMGIA2024)" name="code"
                                                    aria-label="Mã Giảm Giá" value="<%=coupon.code%>" />
                                            </div>
                                        </div>
                                        <!-- TYPE DISCOUNT -->
                                        <div class="row">
                                            <div class="mb-3 col-6">
                                                <label class="form-label" for="name">Loại Giảm Giá</label>
                                                <select name="discountType" id="" class="form-select">
                                                    <option value="">---Chọn---</option>
                                                    <option <%=coupon.discountType=="percentage" ? 'selected' : '' %>
                                                        value="percentage">Phần Trăm (%)</option>
                                                    <option <%=coupon.discountType=="ammount" ? 'selected' : '' %>
                                                        value="ammount">Giá Tiền (VNĐ)</option>
                                                </select>
                                            </div>
                                            <div class="mb-3 col-6">
                                                <label class="form-label" for="discountAmount">Giá trị giảm</label>
                                                <input type="text" class="form-control" id="discountAmount"
                                                    placeholder="Giá trị giảm" name="discountAmount"
                                                    aria-label="Giá trị giảm" value="<%=coupon.discountAmount%>" />
                                            </div>
                                        </div>
                                        <!-- DATE DISCOUNT -->
                                        <!-- DATE -->
                                        <div class="row mb-3">
                                            <div class="row">
                                                <div class="form-label col-6 my-3">Ngày Bắt Đầu:
                                                    <%=coupon.startDateDiscount.toLocaleString('en-US', {
                                                        timeZone: 'Asia/Ho_Chi_Minh' })%>
                                                </div>
                                                <div class="form-label col-6 my-3">Ngày Kết Thúc:
                                                    <%=coupon.endDateDiscount.toLocaleString('en-US', {
                                                        timeZone: 'Asia/Ho_Chi_Minh' })%>
                                                </div>
                                            </div>
                                            <div class="input-group input-daterange" id="bs-datepicker-daterange">
                                                <input type="text" class="form-control" placeholder="MM/DD/YYYY"
                                                    name="startDateDiscount" />
                                                <span class="input-group-text">Tới</span>
                                                <input type="text" class="form-control" placeholder="MM/DD/YYYY"
                                                    name="endDateDiscount" />
                                            </div>
                                        </div>
                                        <!-- QUANTITY AND STATUS -->
                                        <div class="row">
                                            <div class="mb-3 col-6">
                                                <label class="form-label" for="quantity">Số Lượng</label>
                                                <input type="text" class="form-control" id="quantity"
                                                    placeholder="Số Lượng" name="quantity" aria-label="Số Lượng" value="<%=coupon.quantity%>" />
                                            </div>
                                            <div class="mb-3 col-6">
                                                <label class="form-label" for="status">Trạng Thái</label>
                                                <select id="status" name="status" class="form-select"
                                                    data-placeholder="Size">
                                                    <option value="">---Chọn---</option>
                                                    <option <%=coupon.status=="0" ? 'selected' : '' %> value="0">Ẩn</option>
                                                    <option <%=coupon.status=="1" ? 'selected' : '' %> value="1">Hiện</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <div class="row">
                                            <div class="col-12 d-flex justify-content-end">
                                                <a href="/admin/coupon "
                                                    class="btn btn-danger waves-effect waves-light mx-3"><i
                                                        class="fa-solid fa-xmark"></i> &ensp; Hủy</a>
                                                <button type="submit" class="btn btn-primary waves-effect waves-light">
                                                    <i class="fa-solid fa-floppy-disk"></i>&ensp; Lưu
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
    </div>
    <!-- / Content -->
    <script>
        $(document).ready(function () {
            let errors = '<%= listErrors %>';
            if (errors != '') {
                errors = errors.split(',');
                errors.forEach((error) => {
                    toastr.error(error);
                });
            };
            $('.input-daterange input').each(function () {
                $(this).datepicker('clearDates');
            });
            $('body').on('keyup', '#code', function () {
                $(this).val($(this).val().toUpperCase());
            })
        });
    </script>
    <%- include('../../partials/footer.ejs') %>