<%- include('../../partials/header'); -%>

    <!-- ************************* Main ************************* -->
    <main class="product_cat">
        <!-- ************************* SHOPPING PAGE TITLE CATEGORIES ************************* -->
        <section class="category-page-title">
            <div class="category-page-title_container py-4">
                <div class="category-page-title_image">
                    <div class="background_image">
                    </div>
                </div>
            </div>
            <div class="category-page-title_text container d-flex">
                <div class="col-12 category-page-title_text_items d-md-flex align-items-center">
                    <div class="col-md-6 category-page-title_text_items_left">
                        <div class="col-12 title_cat_item">
                            <h2 class="title_cat text-center text-md-start">Danh Mục</h2>
                        </div>
                        <div class="col-12 breadcrumbtitle">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb  d-flex justify-content-md-start justify-content-center">
                                    <li class="breadcrumb-item"><a href="/">Trang Chủ</a></li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                    <div class="col-md-6 category-page-title_text_items_right d-md-flex justify-content-md-end">
                        <div class="col-12 d-md-flex justify-content-md-end">
                            <div class="col-md-6 filterMobile" id="filterMobile"><i
                                    class="far fa-tasks-alt fa-fw"></i>Lọc
                            </div>
                            <div class="col-md-6 formFilterCate">
                                <form action="" method="get">
                                    <select class="form-select" name="sort" aria-label="Default select example">
                                        <option selected>Open this select menu</option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                    </select>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- ************************* SHOPPING PAGE ITEMS ************************* -->
        <section class="section-product-page my-5">
            <div class="col-12 section-product__items d-md-flex container">
                <div class="col-md-3 col-12 section-product__items_left mobile">
                    <div class="section-product__items_left_items">
                        <div class="accordion categories_product_items" id="accordionExample">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingOne">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        <h2 class="categories_product_title">Danh Mục Sản Phẩm</h2>
                                    </button>
                                </h2>
                                <div id="collapseOne" class="accordion-collapse collapse show"
                                    aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <div class="col-12 categories_list_items">
                                            <ul class="categories_list">
                                                <% getCategories.forEach(category=> { %>
                                                    <li
                                                        class="category_list d-flex justify-content-between <%= category.slug==slug ? 'active' : '' %>">
                                                        <a href="/category/<%=category.slug%>">
                                                            <%=category.name%>
                                                        </a>
                                                    </li>
                                                    <% }) %>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 d-md-block d-flex">
                            <div class="filter_categories_product_items col-md-12 col-6 my-4">
                                <div class="filter_categories__items">
                                    <!-- Price Range -->
                                    <div class="box shadow">
                                        <h2 class="categories_product_title">Lọc Theo Giá</h2>
                                        <form action="" method="get">
                                            <div class="values">
                                                <div><span id="first"></span> VNĐ</div> - <div><span id="second"></span>
                                                    VNĐ
                                                </div>
                                            </div>
                                            <small>
                                                Khoảng Giá:
                                                <div><span id="third"></span>VNĐ</div>
                                            </small>
                                            <input type="hidden" name="startRangePrice" id="startRangePrice" value="">
                                            <input type="hidden" name="endRangePrice" id="endRangePrice" value="">
                                            <div class="slider" id="sliderrange" data-value-0="#first"
                                                data-value-1="#second" data-range="#third">
                                            </div>
                                            <button type="submit" class="btnFilterRange">Lọc</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="rate_categories_product_items col-md-12 col-6 my-4 shadow-lg">
                                <h2 class="categories_product_title">Danh Mục Sản Phẩm</h2>
                                <div class="rate_categories_product_container d-flex justify-content-between">
                                    <form action="" method="get">
                                        <div class="rate_categories_product_stars d-flex">
                                            <i class="fas fa-star" style="color: #FFD43B;"></i>
                                            <i class="fas fa-star" style="color: #FFD43B;"></i>
                                            <i class="fas fa-star" style="color: #FFD43B;"></i>
                                            <i class="fas fa-star" style="color: #FFD43B;"></i>
                                            <i class="far fa-star" style="color: #FFD43B;"></i>
                                        </div>
                                    </form>
                                    <div class="rate_categories_product_count">
                                        <span>(44)</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="new_product_items col-12 my-4 shadow-lg">
                            <h2 class="categories_product_title">Sản Phẩm Mới</h2>
                            <div class="new_product_items_container">
                                <% getNewProduct.forEach(product=> { %>
                                    <div class="product_new_item">
                                        <a href="/product/<%=product.slug%>" class="product_new_anchor d-flex">
                                            <div class="col-4 product_new_img_content">
                                                <img class="product_new_img" loading="lazy" src="<%=product.image%>"
                                                    alt="">
                                            </div>
                                            <div class="col-8 product_new_text ms-xxl-1 ms-xl-2 ms-lg-3 ps-md-3">
                                                <div class="col-12 product_new_name_container">
                                                    <h3 class="product_new_name">
                                                        <%=product.name%>
                                                    </h3>
                                                </div>
                                                <div class="col-12 product_new_price_container">
                                                    <p class="product_new_price product_price">
                                                        <%=product.price%>
                                                    </p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <% }) %>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-9 col-12 section-product__items_right">
                    <div class="section-product-items row">
                        <% if(products.length>0) { %>
                            <% products.forEach(product=> { %>
                                <div class="section-product-item col-xl-3 col-sm-6 col-md-4 col-6">
                                    <a href="/product/<%=product.slug%>" class="section-product-anchor">
                                        <div class="col-12 d-xl-flex border shadow-lg">
                                            <div class="col-xl-6 section-product-left">
                                                <img loading="lazy" class="section-product-img" src="<%=product.image%>"
                                                    alt="">
                                            </div>
                                            <div class="col-xl-6 section-product-right p-2">
                                                <div class="col-12 section-product-name">
                                                    <h3 class="product_name">
                                                        <%=product.name%>
                                                    </h3>
                                                </div>
                                                <div
                                                    class="col-12 section-product-middle d-flex py-2 align-items-center">
                                                    <div
                                                        class="col-6 section-product-categories d-flex align-items-center">
                                                        <p>
                                                            <%=product.category_id.name%>
                                                        </p>
                                                    </div>
                                                    <div class="col-6 section-product-price d-flex justify-content-end">
                                                        <i class="fas fa-shopping-cart fa-fw"></i>
                                                        <h4 class="product_qty_purchared">
                                                            <%=product.purcharsed%>
                                                        </h4>
                                                    </div>
                                                    <div class="line-separation"></div>
                                                </div>
                                                <div class="col-12">
                                                    <h4 class="product_price d-flex justify-content-center">
                                                        <%=product.price%>
                                                    </h4>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <% }) %>
                                    <% } else { %>
                                        <div class="col-12 my-5">
                                            <h2 class="text-center">Không có sản phẩm nào</h2>
                                        </div>
                                        <% } %>
                    </div>
                </div>
            </div>
        </section>
    </main>


    <%- include('../../partials/footer'); -%>
        <script>
            $(document).ready(function () {
                $('#priceProductDetail').each(function () {
                    var price = $(this).text();
                    price = parseInt(price);
                    var formatPrice = price.toLocaleString('it-IT', { style: 'currency', currency: 'VND' });
                    $(this).text(formatPrice);
                });
            })
        </script>